
.btn__green {
    color: #fff;
    background-color: var(--green);
    border-color: var(--green);
}

.btn__green:hover {
    background-color: #0fdb87;
    color: white;
}

.btn__rounded {
    border-radius: 50px;


}
